body {
  background-image: url("./moonlight.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
}

.col-md-4 {
  justify-content: left;
  align-items: left;
  margin-top: 10%;
  margin-left: 10%;
  color: #f8e1e0;
  text-align: center;
}
