body {
  background-image: url("./moonlight1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  color: white;
}
.container {
  color: #f8e1e0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-md-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f8e1e0;
  text-align: center;
}
