body {
  background-image: url("./moonlight1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
}
.container,
.col-md-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
